.page-title::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("/static/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 8px;
}
@use "./base.scss";

.page-title::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("/static/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 8px;
}

